# Python: introducción

<table>
    <tr>
        <td><img width=200 src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/IBM_logo.svg/800px-IBM_logo.svg.png"></td>
        <td><img width=200 src="https://skillup.online/_next/static/media/Logo.c31d02e9.svg"></td>
    </tr>
<table>

<div style="text-align: right"><a>por </a><a href="https://www.linkedin.com/in/sheriff-data/">Manuel López Sheriff</a></div>

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Números" data-toc-modified-id="Números-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Números</a></span></li><li><span><a href="#Strings" data-toc-modified-id="Strings-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Strings</a></span></li><li><span><a href="#Booleanos" data-toc-modified-id="Booleanos-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Booleanos</a></span></li><li><span><a href="#Listas" data-toc-modified-id="Listas-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Listas</a></span></li><li><span><a href="#Diccionarios" data-toc-modified-id="Diccionarios-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Diccionarios</a></span></li><li><span><a href="#Control-de-flujo" data-toc-modified-id="Control-de-flujo-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Control de flujo</a></span><ul class="toc-item"><li><span><a href="#if" data-toc-modified-id="if-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span><code>if</code></a></span></li><li><span><a href="#else" data-toc-modified-id="else-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span><code>else</code></a></span></li><li><span><a href="#elif" data-toc-modified-id="elif-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span><code>elif</code></a></span></li><li><span><a href="#for" data-toc-modified-id="for-6.4"><span class="toc-item-num">6.4&nbsp;&nbsp;</span><code>for</code></a></span></li><li><span><a href="#range()" data-toc-modified-id="range()-6.5"><span class="toc-item-num">6.5&nbsp;&nbsp;</span><code>range()</code></a></span></li><li><span><a href="#break" data-toc-modified-id="break-6.6"><span class="toc-item-num">6.6&nbsp;&nbsp;</span><code>break</code></a></span></li><li><span><a href="#while" data-toc-modified-id="while-6.7"><span class="toc-item-num">6.7&nbsp;&nbsp;</span><code>while</code></a></span></li></ul></li><li><span><a href="#Funciones" data-toc-modified-id="Funciones-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Funciones</a></span><ul class="toc-item"><li><span><a href="#Funciones-conocidas" data-toc-modified-id="Funciones-conocidas-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Funciones conocidas</a></span></li><li><span><a href="#Motivación" data-toc-modified-id="Motivación-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>Motivación</a></span></li><li><span><a href="#Sintaxis-básica-y-ejemplos" data-toc-modified-id="Sintaxis-básica-y-ejemplos-7.3"><span class="toc-item-num">7.3&nbsp;&nbsp;</span>Sintaxis básica y ejemplos</a></span></li><li><span><a href="#Funciones-con-varios-argumentos" data-toc-modified-id="Funciones-con-varios-argumentos-7.4"><span class="toc-item-num">7.4&nbsp;&nbsp;</span>Funciones con varios argumentos</a></span></li></ul></li></ul></div>

[Cómo instalar jupyter notebook?](https://geekflare.com/es/jupyter-notebook-intro-and-installation/)

## Números

In [3]:
10 + 3

13

Los hay de tipo `int` (números enteros: 2, 73, -14, ...) y `float` (números decimales: 2.3, -6.88, $\pi$, ...)

In [4]:
type(218)

int

In [5]:
type(0.7)

float

In [7]:
9.4 - 2

7.4

In [8]:
2 * 3

6

In [9]:
(1 + 2) * 3

9

In [10]:
1 / 4

0.25

In [11]:
100 / 5

20.0

La expresión `**` potencia la base al exponente. En `a ** b`, `a` es la base, `b` es el exponente

In [12]:
10 ** 2

100

In [13]:
2 ** 3

8

$$a^{-b}=\frac{1}{a^b}$$

In [14]:
2 ** (-3)

0.125

In [15]:
abs(-5.5)

5.5

In [16]:
abs(7.2)

7.2

In [17]:
round(6.77)

7

In [24]:
round(6.77, 1)

6.8

In [20]:
round(123456, -2)

123500

In [26]:
import math

In [27]:
math.floor(6.55)

6

In [28]:
math.ceil(6.23)

7

In [29]:
math.log10(1000)

3.0

**NOTA**: es recomendable declarar variables: lo hacemos con la sintaxis `a = 4`

In [31]:
savings = 200

In [32]:
salary = 18

In [36]:
total_money = savings + salary

In [37]:
total_money

218

## Strings

Un string es una cadena de texto. Se delimitan con comillas simples ' o dobles "

In [39]:
"juan"

'juan'

In [40]:
type("juan")

str

In [41]:
nombre = "juan"

In [42]:
apellido = "vázquez"

In [43]:
frase = "Me gusta el arroz"

In [46]:
frase + nombre

'Me gusta el arrozjuan'

In [47]:
nombre + " " + apellido

'juan vázquez'

In [48]:
nombre * 4

'juanjuanjuanjuan'

In [49]:
nombre * 4.1

TypeError: can't multiply sequence by non-int of type 'float'

In [50]:
"a" in nombre

True

In [51]:
"an" in nombre

True

In [52]:
"ana" in nombre

False

In [53]:
"jn" in nombre

False

`len` es una función que opera sobre strings

In [54]:
len(nombre)

4

In [56]:
len(frase)

17

Las funciones se aplican con la sintaxis `function(arguments)`

`upper` es un método de la clase string. Es similar a las funciones. Pero su sintaxis es `objeto.método(argumentos)`.

El método `upper` no tiene argumentos

In [57]:
nombre.upper()

'JUAN'

In [58]:
nombre.lower()

'juan'

In [59]:
nombre.endswith('n')

True

In [60]:
nombre.capitalize()

'Juan'

In [64]:
nombre.replace("a", "e")

'juen'

Rebanar

In [65]:
frase

'Me gusta el arroz'

In [69]:
frase[0]

'M'

In [70]:
frase[4]

'u'

In [71]:
frase[-1]

'z'

In [72]:
frase[3:10]

'gusta e'

In [73]:
frase[:10]

'Me gusta e'

In [74]:
frase[12:]

'arroz'

In [75]:
frase[-3:]

'roz'

In [76]:
palabras = frase.split()

In [77]:
palabras

['Me', 'gusta', 'el', 'arroz']

In [78]:
type(palabras)

list

In [79]:
frase.split("a")

['Me gust', ' el ', 'rroz']

In [80]:
email = "pepe@hotmail.com"

In [84]:
email.split("@")[1].split(".")[0]

'hotmail'

## Booleanos

Una variable booleana sólo puede tener el valor `True` o `False`.

In [87]:
True

True

In [88]:
False

False

In [90]:
type(True)

bool

Los booleanos son resultado (respuesta) de algunas *preguntas* que podemos hacer en Python

* `==` igual a 
* `!=` distinto de
* `>` mayor que 
* `<` menor que 
* `>=` mayor o igual que
* `<=` menor o igual que

**NOTA**: observa la diferencia entre:

 - un signo de igualdad simple `=`, que es una asignación y

 - un signo de igualdad doble `==`, que es una pregunta

In [91]:
n = 12

In [93]:
n > 5

True

In [94]:
n > 60

False

`==` pregunta si dos objetos tienen el mismo valor

In [95]:
4 == 3 + 2

False

In [96]:
n == 3 + 9

True

In [99]:
5 == "5"

False

In [100]:
edad = 15

In [ ]:
edad

In [103]:
edad > 10

True

In [104]:
(edad > 10) and (edad < 13)

False

In [105]:
(edad > 10) or (edad < 13)

True

In [106]:
(edad > 20) or (edad < 13)

False

Los booleanos suelen utilizarse para evaluar expresiones condicionales

In [113]:
if edad >= 18:
    print("entra a la disco")
else:
    print("vete a tu casa")

vete a tu casa

## Listas

Son enumeraciones de otros objetos de Python

In [114]:
nombres = ["Rafa", "Pepe", "Sonia", "Javi", 5, True]

In [115]:
type(nombres)

list

In [116]:
nombres

['Rafa', 'Pepe', 'Sonia', 'Javi', 5, True]

`.append()` añade un elemento a la lista

In [118]:
nombres.append("Jose")

In [119]:
nombres

['Rafa', 'Pepe', 'Sonia', 'Javi', 5, True, 'Jose']

Rebanar

In [120]:
nombres[0]

'Rafa'

In [121]:
nombres[1:3]

['Pepe', 'Sonia']

In [122]:
nombres[:3]

['Rafa', 'Pepe', 'Sonia']

In [123]:
nombres[2:]

['Sonia', 'Javi', 5, True, 'Jose']

In [124]:
nombres.reverse()

In [125]:
nombres

['Jose', True, 5, 'Javi', 'Sonia', 'Pepe', 'Rafa']

In [126]:
"Pepe" in nombres

True

In [127]:
"Pep" in nombres

False

In [128]:
equipos = ["RM", "Barca", "Zgz"]

In [129]:
nombres

['Jose', True, 5, 'Javi', 'Sonia', 'Pepe', 'Rafa']

In [130]:
equipos

['RM', 'Barca', 'Zgz']

In [131]:
nombres + equipos

['Jose', True, 5, 'Javi', 'Sonia', 'Pepe', 'Rafa', 'RM', 'Barca', 'Zgz']

In [132]:
equipos * 2

['RM', 'Barca', 'Zgz', 'RM', 'Barca', 'Zgz']

In [133]:
len(nombres)

7

In [134]:
edades = [12, 86, 35, 67, 44, 23, 12]

In [135]:
type(edades)

list

In [136]:
min(edades)

12

In [137]:
max(edades)

86

In [138]:
edades.count(12)

2

In [145]:
edades.sort()

In [146]:
edades

[86, 67, 44, 35, 23, 12, 12]

In [147]:
nombres

['Jose', True, 5, 'Javi', 'Sonia', 'Pepe', 'Rafa']

In [148]:
nombres.sort()

TypeError: '<' not supported between instances of 'bool' and 'str'

In [149]:
nombres

['Jose', True, 5, 'Javi', 'Sonia', 'Pepe', 'Rafa']

In [150]:
paises = ["Afghanistan", "Albania", "Algeria", "Andorra", "Angola", "Antigua & Deps", "Argentina", "Armenia", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bhutan", "Bolivia", "Bosnia Herzegovina", "Botswana", "Brazil", "Brunei", "Bulgaria", "Burkina", "Burundi", "Cambodia", "Cameroon", "Canada", "Cape Verde", "Central African Rep", "Chad", "Chile", "China", "Colombia", "Comoros", "Congo", "Congo {Democratic Rep}", "Costa Rica", "Croatia", "Cuba", "Cyprus", "Czech Republic", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "East Timor", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Fiji", "Finland", "France", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Greece", "Grenada", "Guatemala", "Guinea", "Guinea-Bissau", "Guyana", "Haiti", "Honduras", "Hungary", "Iceland", "India", "Indonesia", "Iran", "Iraq", "Ireland {Republic}", "Israel", "Italy", "Ivory Coast", "Jamaica", "Japan", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Korea North", "Korea South"]

In [151]:
len(paises)

91

Podemos **iterar sobre listas**. Ejemplo: crear una nueva lista manteniendo sólo los países que contienen "r"

In [160]:
paises_especiales = []

In [161]:
for pais in paises:
    if "H" in pais:
        paises_especiales.append(pais)

In [162]:
len(paises_especiales)

4

In [163]:
paises_especiales

['Bosnia Herzegovina', 'Haiti', 'Honduras', 'Hungary']

## Diccionarios

In [ ]:
# mal
persona = [31, "manuel", "Madrid", 1.84, False]

In [21]:
# good 
persona = {
    "age": 31,
    "name": "Manuel",
    "city": "Madrid",
    "height": 1.84,
    "has_children": False,
    "friends": ["Juan", "Luis"],
    "ocupacion": {
        "name": "profe",
        "tiempo": 3,
        "salario": 100
    }
}

In [165]:
persona

{'age': 31,
 'name': 'Manuel',
 'city': 'Madrid',
 'height': 1.84,
 'has_children': False,
 'friends': ['Juan', 'Luis'],
 'ocupacion': {'name': 'profe', 'tiempo': 3, 'salario': 100}}

In [166]:
type(persona)

dict

In [169]:
persona["age"]

31

In [170]:
persona["name"]

'Manuel'

In [171]:
persona["name"] = "Manuel Lopez"

In [172]:
persona

{'age': 31,
 'name': 'Manuel Lopez',
 'city': 'Madrid',
 'height': 1.84,
 'has_children': False,
 'friends': ['Juan', 'Luis'],
 'ocupacion': {'name': 'profe', 'tiempo': 3, 'salario': 100}}

In [173]:
persona["country"]

KeyError: 'country'

In [174]:
persona["country"] = "Spain"

In [175]:
persona

{'age': 31,
 'name': 'Manuel Lopez',
 'city': 'Madrid',
 'height': 1.84,
 'has_children': False,
 'friends': ['Juan', 'Luis'],
 'ocupacion': {'name': 'profe', 'tiempo': 3, 'salario': 100},
 'country': 'Spain'}

In [176]:
cities_population = {
    "Madrid": 6_000_000,
    "Barcelona": 5_000_000,
    "Sevilla": 2_000_000
}

In [177]:
cities_population["Barcelona"]

5000000

In [178]:
cities_population["Madrid"]

6000000

In [179]:
cities_population["Paris"]

KeyError: 'Paris'

In [181]:
persona.keys()

dict_keys(['age', 'name', 'city', 'height', 'has_children', 'friends', 'ocupacion', 'country'])

## Control de flujo

En la ejecución de un programa, el ordenador ejecuta el código línea por línea.



Este **flujo** secuencial puede alterarse.

### `if`

El condicional `if` es el elemento más común para controlar el flujo de un programa



Las condiciones permiten elegir entre diferentes caminos en función del valor de una expresión

In [23]:
persona

{'age': 31,
 'name': 'Manuel',
 'city': 'Madrid',
 'height': 1.84,
 'has_children': False,
 'friends': ['Juan', 'Luis'],
 'ocupacion': {'name': 'profe', 'tiempo': 3, 'salario': 100}}

In [22]:
persona["name"]

'Manuel'

In [25]:
condicion = False
if condicion:
    print("La condición se cumple")

In [26]:
if len(persona["name"]) > 5:
    print("El nombre es largo")

El nombre es largo

La sintaxis con `:` y la indentación (sangría) son imprescindibles para que Python nos entienda

In [27]:
temperatura = 38

In [28]:
if temperatura >= 37:
    print("tienes fiebre")
    
print("tómate un té")

tienes fiebre
tómate un té

In [29]:
if temperatura >= 39:
    print("tienes mucha fiebre")
    
print("tómate un té")

tómate un té

### `else`

A veces se quiere que si una condición no se cumple (y sólo entonces), se ejecute otra acción. Serán dos ejecuciones mutuamente excluyentes. Esto se consigue con la sentencia `else`.

In [30]:
condicion = True
if condicion:
    print("la condición se cumple")
else:
    print("la condición no se cumple")

la condición se cumple

In [31]:
condicion = False
if condicion:
    print("la condición se cumple")
else:
    print("la condición no se cumple")

la condición no se cumple

In [32]:
edad = 15

In [33]:
if edad >= 18:
    print("eres mayor")
else:
    print("eres menor")

eres menor

### `elif`

A veces hay más de dos posibilidades. Podemos utilizar `elif`

In [36]:
edad

15

In [37]:
if edad >= 18:
    print("eres mayor")
elif edad > 10:
    print("eres mayorcito")
else:
    print("eres menor")

eres mayorcito

### `for`

Hay objetos **iterables** en Python: listas, cadenas, diccionarios... El `for` itera por ellos.

Iterar por una lista

In [38]:
words = ['cat', 'window', 'friend', 'car', 'arrow']

In [39]:
for word in words:
    print(word)

cat
window
friend
car
arrow

In [41]:
for t in words:
    print(t.upper())

CAT
WINDOW
FRIEND
CAR
ARROW

In [42]:
for word in words:
    print(9)

9
9
9
9
9

In [43]:
words

['cat', 'window', 'friend', 'car', 'arrow']

In [46]:
for word in words:
    print(word, len(word))
    print("hola")

print("adios")

cat 3
hola
window 6
hola
friend 6
hola
car 3
hola
arrow 5
hola
adios

In [47]:
words

['cat', 'window', 'friend', 'car', 'arrow']

In [48]:
for w in words:
    if len(w) > 3:
        print(w, "larga")
    else:
        print(w, "corta")

cat corta
window larga
friend larga
car corta
arrow larga

In [49]:
numbers = [12, 39, 44, 76, 18]

In [50]:
for n in numbers:
    print(n + 1)
    print("hola\n")

13
hola

40
hola

45
hola

77
hola

19
hola

### `range()`

In [56]:
for n in range(2, 8):
    print(n, n ** 2)

2 4
3 9
4 16
5 25
6 36
7 49

### `break`

Podemos **parar** un bucle cuando lo consideremos necesario

In [57]:
words

['cat', 'window', 'friend', 'car', 'arrow']

In [59]:
for w in words:
    print(w)
    if "e" in w:
        print(f"word '{w}' contains letter 'e'!!")

cat
window
friend
word 'friend' contains letter 'e'!!
car
arrow

In [60]:
for w in words:
    print(w)
    if "e" in w:
        print(f"word '{w}' contains letter 'e'!! We stop")
        break

cat
window
friend
word 'friend' contains letter 'e'!! We stop

### `while`

Se utiliza para correr un bucle (potencialmente infinito) mientras se satisface una condición

In [61]:
n = 8

In [62]:
while n < 20:
    print(n)
    n = n + 3

8
11
14
17

In [63]:
import time

In [70]:
while 3 > 2:
    time.sleep(1)
    print("hola")

hola
hola
hola
hola
hola
hola

KeyboardInterrupt:

Tira un dado hasta que salga un 6

In [71]:
import random

In [94]:
random.randint(1, 6)

5

In [99]:
while True:
    time.sleep(0.1)
    dado = random.randint(1, 6)
    print(dado)
    
    if dado == 6:
        break

4
2
2
6

## Funciones

### Funciones conocidas

In [111]:
len("table")

5

In [114]:
round(4.55)

5

In [115]:
import math

In [116]:
math.log10(1000)

3.0

In [117]:
math.cos(0)

1.0

In [118]:
import random

In [134]:
random.randint(-2, 4)

3

### Motivación

**Ejemplo**: quieres extraer el dominio de un email

In [135]:
email = "juanito@hotmail.com"

In [145]:
def get_domain(email):
    elems = email.split("@")

    user_name = elems[0]
    rest = elems[1]

    elems2 = rest.split(".")
    domain = elems2[0]

    return domain

In [146]:
get_domain("manolete@yahoo.es")

'yahoo'

In [147]:
get_domain("luisa@telefonica.net")

'telefonica'

In [149]:
clientes = ["luisa@orange.es", "juan@yahoo.com", "valeria@terra.es"]

In [150]:
for email in clientes:
    print(get_domain(email))

orange
yahoo
terra

La **reusabilidad** es la principal motivación para crear funciones

### Sintaxis básica y ejemplos

Definición de una función:
```python
def function_name(parameter1, parameter2, ...):
    code
    
    return something
```

In [ ]:
len("perro")

Ejecución de una función:  

```python
function_name(argument1, argument2, ...)
```

In [151]:
def square_number(x):
    sq = x ** 2
    
    return sq

In [153]:
square_number(10)

100

In [154]:
square_number(4)

16

### Funciones con varios argumentos

In [156]:
def get_highest_number(a, b):
    if a > b:
        return a
    else:
        return b

In [157]:
get_highest_number(10, 6)

10

In [158]:
get_highest_number(10, 60)

60

**NOTA**: una función puede tener varios `return`. Cuando el primero se ejecuta, la función termina para siempre

In [162]:
def throw_two_dice_wrong():
    return random.randint(1, 6)
    return random.randint(1, 6)

In [165]:
throw_two_dice_wrong()

1

In [175]:
def throw_two_n_side_dice(n):
    dice1 = random.randint(1, n)
    dice2 = random.randint(1, n)
    
    return [dice1, dice2]

In [183]:
throw_two_n_side_dice(20)

[4, 18]