# Python: introduction

<table>
    <tr>
        <td><img width=200 src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/IBM_logo.svg/800px-IBM_logo.svg.png"></td>
        <td><img width=200 src="https://skillup.online/_next/static/media/Logo.c31d02e9.svg"></td>
    </tr>
<table>

<div style="text-align: right"><a>par </a><a href="https://www.linkedin.com/in/sheriff-data/">Manuel López Sheriff</a></div>

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Nombres" data-toc-modified-id="Nombres-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Nombres</a></span></li><li><span><a href="#Strings" data-toc-modified-id="Strings-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Strings</a></span></li><li><span><a href="#Booléens" data-toc-modified-id="Booléens-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Booléens</a></span></li><li><span><a href="#Listes" data-toc-modified-id="Listes-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Listes</a></span></li><li><span><a href="#Dictionnaires" data-toc-modified-id="Dictionnaires-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Dictionnaires</a></span></li><li><span><a href="#Contrôle-du-flux" data-toc-modified-id="Contrôle-du-flux-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Contrôle du flux</a></span><ul class="toc-item"><li><span><a href="#if" data-toc-modified-id="if-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span><code>if</code></a></span></li><li><span><a href="#else" data-toc-modified-id="else-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span><code>else</code></a></span></li><li><span><a href="#elif" data-toc-modified-id="elif-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span><code>elif</code></a></span></li><li><span><a href="#for" data-toc-modified-id="for-6.4"><span class="toc-item-num">6.4&nbsp;&nbsp;</span><code>for</code></a></span></li><li><span><a href="#range()" data-toc-modified-id="range()-6.5"><span class="toc-item-num">6.5&nbsp;&nbsp;</span><code>range()</code></a></span></li><li><span><a href="#break" data-toc-modified-id="break-6.6"><span class="toc-item-num">6.6&nbsp;&nbsp;</span><code>break</code></a></span></li><li><span><a href="#while" data-toc-modified-id="while-6.7"><span class="toc-item-num">6.7&nbsp;&nbsp;</span><code>while</code></a></span></li></ul></li><li><span><a href="#Fonctions" data-toc-modified-id="Fonctions-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Fonctions</a></span><ul class="toc-item"><li><span><a href="#Fonctions-connues" data-toc-modified-id="Fonctions-connues-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Fonctions connues</a></span></li><li><span><a href="#Motivation" data-toc-modified-id="Motivation-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>Motivation</a></span></li><li><span><a href="#Syntaxe-de-base-et-exemples" data-toc-modified-id="Syntaxe-de-base-et-exemples-7.3"><span class="toc-item-num">7.3&nbsp;&nbsp;</span>Syntaxe de base et exemples</a></span></li><li><span><a href="#Fonctions-avec-plusieurs-arguments-(inputs)" data-toc-modified-id="Fonctions-avec-plusieurs-arguments-(inputs)-7.4"><span class="toc-item-num">7.4&nbsp;&nbsp;</span>Fonctions avec plusieurs arguments (inputs)</a></span></li></ul></li></ul></div>

[Comment installer jupyter notebook](https://openclassrooms.com/fr/courses/4452741-decouvrez-les-librairies-python-pour-la-data-science/5559646-installez-jupyter-sur-votre-propre-ordinateur)

## Nombres

In [1]:
10 + 3

13

Ils sont de type `int` (nombres entiers : 2, 73, -14, ...) et `float` (nombres décimaux : 2.3, -6.88, $\pi$, ...).

In [3]:
type(218)

int

In [4]:
type(0.7)

float

In [5]:
12.4 - 2

10.4

In [6]:
2 * 3

6

In [8]:
(1 + 2) * 4

12

In [10]:
1 / 4

0.25

L'expression `**` donne la puissance de la base à l'exposant. Dans `a ** b`, `a` est la base, `b` est l'exposant.

In [12]:
10 ** 2

100

$$a^{-b}=\frac{1}{a^b}$$

In [14]:
2 ** (-3)

0.125

In [15]:
abs(-5.5)

5.5

In [16]:
abs(1.34)

1.34

In [17]:
round(6.77)

7

In [18]:
round(6.77, 1)

6.8

In [21]:
round(123456, -3)

123000

In [22]:
import math

In [23]:
math.floor(6.55)

6

In [24]:
math.ceil(6.23)

7

In [25]:
math.log10(10000)

4.0

**NOTE** : il est conseillé de déclarer des variables : nous le faisons avec la syntaxe `a = 4`.

In [27]:
savings = 200

In [30]:
salary = 18

In [32]:
total_money = savings + salary

In [33]:
total_money

218

## Strings

Une **string** est une chaîne de texte. Il est délimité par des guillemets simples ' ou doubles "

In [34]:
"teddy"

'teddy'

In [36]:
type("teddy")

str

In [37]:
name = "teddy"

In [39]:
surname = "riner"

In [40]:
phrase = "I love rice"

In [41]:
name + surname

'teddyriner'

In [42]:
name * 4

'teddyteddyteddyteddy'

In [43]:
name * 4.1

TypeError: can't multiply sequence by non-int of type 'float'

In [44]:
name

'teddy'

In [46]:
"e" in name

True

In [47]:
"ed" in name

True

In [48]:
"eda" in name

False

In [49]:
"ty" in name

False

`len` est une fonction qui opère sur les string

In [50]:
name

'teddy'

In [51]:
len(name)

5

Les fonctions sont implémentées avec la syntaxe `function(arguments)`.

In [53]:
phrase

'I love rice'

In [54]:
len(phrase)

11

`upper` est une méthode de la classe string. Elle est similaire aux fonctions. Mais sa syntaxe est `objet.méthode(arguments)`.

La méthode `upper` n'a pas d'arguments.

In [55]:
name

'teddy'

In [56]:
name.upper()

'TEDDY'

In [57]:
name.lower()

'teddy'

In [58]:
name.endswith('n')

False

In [59]:
name.endswith('y')

True

In [60]:
name.capitalize()

'Teddy'

In [62]:
name.replace("d", "m")

'temmy'

Tranche

In [63]:
phrase

'I love rice'

In [68]:
phrase[0]

'I'

In [69]:
phrase[4]

'v'

In [70]:
phrase[-1]

'e'

In [73]:
phrase[3:9]

'ove ri'

In [74]:
phrase[:9]

'I love ri'

In [77]:
phrase[6:]

' rice'

In [78]:
phrase[-3:]

'ice'

In [79]:
phrase

'I love rice'

In [80]:
phrase.split()

['I', 'love', 'rice']

In [81]:
words = phrase.split()

In [82]:
words

['I', 'love', 'rice']

In [83]:
type(words)

list

In [84]:
phrase.split("i")

['I love r', 'ce']

In [85]:
email = "pepe@hotmail.com"

In [86]:
email

'pepe@hotmail.com'

In [90]:
email.split("@")[1].split(".")[0]

'hotmail'

## Booléens

Une variable booléenne ne peut avoir que la valeur `True` ou `False`.

In [92]:
True

True

In [93]:
False

False

In [94]:
type(True)

bool

Les booléens sont un résultat (réponse) à certaines *questions* que nous pouvons poser en Python.

* `==` est égal à
* `!=` autre que
* `>` plus grand que
* `<` moins que
* `>=` supérieur ou égal à
* `<=` inférieur ou égal à

**NOTE** : notez la différence entre :
 - un simple signe égal `=`, qui est une affectation, et
 - un double signe égal `==`, qui est une question

In [95]:
n = 12

In [99]:
n > 5

True

In [100]:
n > 60

False

`==` demande si deux objets ont la même valeur

In [101]:
4 == 3 + 2

False

In [102]:
n == 3 + 9

True

In [105]:
5 == "5"

False

In [106]:
age = 15

In [107]:
age

15

In [109]:
age > 10

True

In [110]:
(age > 10) and (age < 14)

False

In [111]:
(age > 10) or (age < 14)

True

Les booléens sont souvent utilisés pour évaluer des expressions conditionnelles.

In [112]:
if age >= 18:
    print("entrez a la disco")
else:
    print("allez chez toi")

allez chez toi

## Listes

Ce sont des énumérations d'autres objets Python.

In [113]:
names = ["Rafa", "Pepe", "Sonia", "Javi", 5, True]

In [114]:
names

['Rafa', 'Pepe', 'Sonia', 'Javi', 5, True]

In [115]:
type(names)

list

`.append()` ajoute un élément à la liste

In [116]:
names.append("Jose")

In [117]:
names

['Rafa', 'Pepe', 'Sonia', 'Javi', 5, True, 'Jose']

Tranche

In [118]:
names[0]

'Rafa'

In [119]:
names[1:3]

['Pepe', 'Sonia']

In [120]:
names[:3]

['Rafa', 'Pepe', 'Sonia']

In [121]:
names[2:]

['Sonia', 'Javi', 5, True, 'Jose']

In [122]:
# je vais reverser la liste
names.reverse()

In [123]:
names

['Jose', True, 5, 'Javi', 'Sonia', 'Pepe', 'Rafa']

In [127]:
"Pepe" in names

True

In [128]:
"Pep" in names

False

In [129]:
teams = ["RM", "Barca", "Zgz"]

In [130]:
names

['Jose', True, 5, 'Javi', 'Sonia', 'Pepe', 'Rafa']

In [131]:
teams

['RM', 'Barca', 'Zgz']

In [132]:
names + teams

['Jose', True, 5, 'Javi', 'Sonia', 'Pepe', 'Rafa', 'RM', 'Barca', 'Zgz']

In [133]:
teams * 2

['RM', 'Barca', 'Zgz', 'RM', 'Barca', 'Zgz']

In [134]:
len(names)

7

In [135]:
ages = [12, 86, 35, 67, 44, 23, 12]

In [136]:
type(ages)

list

In [137]:
min(ages)

12

In [138]:
max(ages)

86

In [139]:
ages.count(12)

2

In [145]:
ages.sort()

In [146]:
ages

[12, 12, 23, 35, 44, 67, 86]

In [147]:
countries = ["Afghanistan", "Albania", "Algeria", "Andorra", "Angola", "Antigua & Deps", "Argentina", "Armenia", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bhutan", "Bolivia", "Bosnia Herzegovina", "Botswana", "Brazil", "Brunei", "Bulgaria", "Burkina", "Burundi", "Cambodia", "Cameroon", "Canada", "Cape Verde", "Central African Rep", "Chad", "Chile", "China", "Colombia", "Comoros", "Congo", "Congo {Democratic Rep}", "Costa Rica", "Croatia", "Cuba", "Cyprus", "Czech Republic", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "East Timor", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Fiji", "Finland", "France", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Greece", "Grenada", "Guatemala", "Guinea", "Guinea-Bissau", "Guyana", "Haiti", "Honduras", "Hungary", "Iceland", "India", "Indonesia", "Iran", "Iraq", "Ireland {Republic}", "Israel", "Italy", "Ivory Coast", "Jamaica", "Japan", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Korea North", "Korea South"]

In [148]:
len(countries)

91

Nous pouvons **itérer sur des listes**. Exemple : créer une nouvelle liste ne gardant que les pays contenant "r"

In [177]:
countries_r = []

In [178]:
for country in countries:
    if "ra" in country:
        countries_r.append(country)

In [179]:
len(countries_r)

11

In [180]:
countries_r

['Andorra',
 'Australia',
 'Bahrain',
 'Brazil',
 'Central African Rep',
 'Congo {Democratic Rep}',
 'France',
 'Honduras',
 'Iran',
 'Iraq',
 'Israel']

## Dictionnaires

In [181]:
# mal
persona = [31, "manuel", "Madrid", 1.84, False]

In [184]:
# good 
persona = {
    "age": 31,
    "name": "Manuel",
    "city": "Madrid",
    "height": 1.84,
    "has_children": False,
    "friends": ["Juan", "Luis"],
    "ocupacion": {
        "name": "profe",
        "tiempo": 3,
        "salario": 100
    }
}

In [185]:
persona

{'age': 31,
 'name': 'Manuel',
 'city': 'Madrid',
 'height': 1.84,
 'has_children': False,
 'friends': ['Juan', 'Luis'],
 'ocupacion': {'name': 'profe', 'tiempo': 3, 'salario': 100}}

In [186]:
type(persona)

dict

In [187]:
persona["age"]

31

In [188]:
persona["name"]

'Manuel'

In [189]:
persona["name"] = "Manuel Lopez"

In [190]:
persona

{'age': 31,
 'name': 'Manuel Lopez',
 'city': 'Madrid',
 'height': 1.84,
 'has_children': False,
 'friends': ['Juan', 'Luis'],
 'ocupacion': {'name': 'profe', 'tiempo': 3, 'salario': 100}}

In [191]:
persona["country"]

KeyError: 'country'

In [192]:
persona["country"] = "Spain"

In [193]:
persona

{'age': 31,
 'name': 'Manuel Lopez',
 'city': 'Madrid',
 'height': 1.84,
 'has_children': False,
 'friends': ['Juan', 'Luis'],
 'ocupacion': {'name': 'profe', 'tiempo': 3, 'salario': 100},
 'country': 'Spain'}

In [194]:
cities_population = {
    "Madrid": 6_000_000,
    "Barcelona": 5_000_000,
    "Sevilla": 2_000_000
}

In [195]:
type(cities_population)

dict

In [196]:
cities_population["Barcelona"]

5000000

In [197]:
cities_population["Madrid"]

6000000

In [198]:
cities_population["Paris"]

KeyError: 'Paris'

In [199]:
persona

{'age': 31,
 'name': 'Manuel Lopez',
 'city': 'Madrid',
 'height': 1.84,
 'has_children': False,
 'friends': ['Juan', 'Luis'],
 'ocupacion': {'name': 'profe', 'tiempo': 3, 'salario': 100},
 'country': 'Spain'}

In [200]:
persona.keys()

dict_keys(['age', 'name', 'city', 'height', 'has_children', 'friends', 'ocupacion', 'country'])

## Contrôle du flux

Lors de l'exécution d'un programme, l'ordinateur exécute le code ligne par ligne.







Ce **flux** séquentiel peut être modifié.

### `if`

La conditionnelle "if" est l'élément le plus courant pour contrôler le flux d'un programme.







Les conditions vous permettent de choisir entre différents chemins en fonction de la valeur d'une expression.

In [207]:
condicion = True

In [208]:
if condicion:
    print("la condition est remplie")

la condition est remplie

In [209]:
persona

{'age': 31,
 'name': 'Manuel Lopez',
 'city': 'Madrid',
 'height': 1.84,
 'has_children': False,
 'friends': ['Juan', 'Luis'],
 'ocupacion': {'name': 'profe', 'tiempo': 3, 'salario': 100},
 'country': 'Spain'}

In [212]:
if len(persona["name"]) > 5:
    print("le nom est long")

le nom est long

La syntaxe avec `:` et l'indentation sont essentielles pour que Python nous comprenne.

In [213]:
temperatura = 38

In [214]:
if temperatura >= 37:
    print("vous avez de la fièvre")
    
print("prendre une tasse de thé")

vous avez de la fièvre
prendre une tasse de thé

In [215]:
if temperatura >= 39:
    print("vous avez de la fièvre")
    
print("prendre une tasse de thé")

prendre une tasse de thé

### `else`

Parfois, vous voulez que si une condition n'est pas remplie (et seulement dans ce cas), une autre action soit exécutée. Il s'agira de deux exécutions mutuellement exclusives. Ceci est réalisé avec l'instruction "else".

In [216]:
condicion = False
if condicion:
    print("la condition est remplie")
else:
    print("la condition n'est pas remplie")

la condition n'est pas remplie

In [217]:
age

15

In [218]:
if age >= 18:
    print("t'es grand")
else:
    print("tu n'es pas grand")

tu n'es pas grand

### `elif`

Parfois, il y a plus de deux possibilités. Nous pouvons utiliser `elif`.

In [219]:
age

15

In [221]:
if age >= 18:
    print("t'es grand")
elif age > 10:
    print("t'es un peu grand")
else:
    print("tu n'es pas grand")

t'es un peu grand

### `for`

Il existe des objets **itérables** en Python : listes, chaînes de caractères, dictionnaires... Le `for` les parcourt de manière itérative.

Itération dans une liste

In [222]:
words = ['cat', 'window', 'friend', 'car', 'arrow']

In [228]:
for word in words:
    print(word.upper())

CAT
WINDOW
FRIEND
CAR
ARROW

In [230]:
words

['cat', 'window', 'friend', 'car', 'arrow']

In [231]:
for word in words:
    print(9)

9
9
9
9
9

In [235]:
for truc in words:
    print(truc, len(truc))
    print("hi")

print("BYE")

cat 3
hi
window 6
hi
friend 6
hi
car 3
hi
arrow 5
hi
BYE

In [234]:
words

['cat', 'window', 'friend', 'car', 'arrow']

In [236]:
for w in words:
    if len(w) > 3:
        print(w, "longue")
    else:
        print(w, "courte")

cat courte
window longue
friend longue
car courte
arrow longue

In [237]:
numbers = [12, 39, 44, 76, 18]

In [238]:
for n in numbers:
    print(n + 1)
    print("hello\n")

13
hello

40
hello

45
hello

77
hello

19
hello

### `range()`

In [240]:
for n in range(2, 8):
    print(n, n ** 2)

2 4
3 9
4 16
5 25
6 36
7 49

### `break`

Nous pouvons **arrêter** une boucle lorsque nous le jugeons nécessaire.

In [241]:
words

['cat', 'window', 'friend', 'car', 'arrow']

In [243]:
for w in words:
    print(w)

    if "e" in w:
        print(f"word '{w}' contains letter 'e'!! We stop")
        break

cat
window
friend
word 'friend' contains letter 'e'!! We stop

### `while`

Utilisé pour exécuter une boucle (potentiellement infinie) pendant qu'une condition est satisfaite.

In [247]:
n = 8

In [248]:
while n < 20:
    print(n)
    n = n + 3

print("done")

8
11
14
17
done

## Fonctions

### Fonctions connues

In [249]:
len("table")

5

In [250]:
round(4.55)

5

In [251]:
import math

In [252]:
math.log10(1000)

3.0

In [253]:
math.cos(0)

1.0

In [254]:
import random

In [279]:
random.randint(1, 6)

3

### Motivation

**Exemple** : vous voulez extraire le domain d'une addresse email

In [ ]:
email = "manu@hotmail.com"

In [280]:
elems = email.split("@")

In [282]:
username = elems[0]
rest = elems[1]

In [285]:
elems_rest = rest.split(".")

In [287]:
domain = elems_rest[0]

In [289]:
def get_domain(email):    
    elems = email.split("@")

    username = elems[0]
    rest = elems[1]

    elems_rest = rest.split(".")

    domain = elems_rest[0]

    return domain

In [290]:
get_domain("muhire@yahoo.es")

'yahoo'

In [291]:
get_domain("narimene@france-telecom.fr")

'france-telecom'

In [292]:
get_domain("manuel@hotmail.fr")

'hotmail'

La **réutilisabilité** est la principale motivation pour créer des fonctions.

### Syntaxe de base et exemples

Définition d'une fonction :
```python
def function_name(parameter1, parameter2, ...):
    code
    
    return something
```

Exécution d'une fonction :

```python
function_name(argument1, argument2, ...)
```

In [293]:
def square_number(x):
    sq = x ** 2
    
    return sq

In [294]:
square_number(10)

100

In [295]:
square_number(4)

16

### Fonctions avec plusieurs arguments (inputs)

In [296]:
def get_highest_number(a, b):
    if a > b:
        return a
    else:
        return b

In [297]:
get_highest_number(7)

TypeError: get_highest_number() missing 1 required positional argument: 'b'

In [299]:
get_highest_number(10, 6)

10

In [300]:
get_highest_number(10, 60)

60

**NOTE**: Une fonction peut avoir plusieurs `return`. Lorsque le premier est exécuté, la fonction s'arrête définitivement.

In [306]:
def say_hello(name):
    return 4
    return name.upper() + "!!"

In [307]:
say_hello("manuel")

4